name: Rust crate and cli release

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  release:
    name: release ${{ matrix.target }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include: # https://github.com/rust-build/rust-build.action#supported-targets
          - target: x86_64-pc-windows-gnu
            archive: zip
          - target: x86_64-apple-darwin
            archive: zip
          - target: x86_64-unknown-linux-musl
            archive: tar.gz

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Compile cli for artifact
        id: compile_cli
        uses: rust-build/rust-build.action@v1.4.5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          RUSTTARGET: ${{ matrix.target }}
          ARCHIVE_TYPES: ${{ matrix.archive }}
          SRC_DIR: rust/
          UPLOAD_MODE: none

      - name: Upload cli artifact
        uses: actions/upload-artifact@v4
        with:
          name: crunch64-cli-${{ matrix.target }}
          path: |
            ${{ steps.compile_cli.outputs.BUILT_ARCHIVE }}
            ${{ steps.compile_cli.outputs.BUILT_CHECKSUM }}

      - name: Compile and release cli
        uses: rust-build/rust-build.action@v1.4.5
        if: startsWith(github.ref, 'refs/tags/')
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          RUSTTARGET: ${{ matrix.target }}
          ARCHIVE_TYPES: ${{ matrix.archive }}
          SRC_DIR: rust/
          UPLOAD_MODE: release
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Publish crate
        uses: katyo/publish-crates@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          path: "lib/"
          registry-token: ${{ secrets.CRATE_AUTH_TOKEN }}